<h4>You Searched For: <%= @chord %></h4>


<h4>Chord Name: <% @name = @response["objects"][0]["name"] %><%= @name %></h4><br>

<h4>Fretboard "Code": <% @code = @response["objects"][0]["code"]%><%= @code %></h4><br>

<% @image_url = @response["objects"][0]["image_url"]%>
<img src=<%= @image_url %>>

<p id="savebttn">

  <% if current_user != nil %>
    <%= link_to '<i class="medium material-icons icon-green">library_add</i>'.html_safe, {action: :create, controller: :chords, chord_search: @chord, user_id: current_user.id, code: @code, image_url: @image_url, name: @name}, method: :post, class: 'savebbttn' %>
  <%else %>
    <a href="/users/sign_up"> Sign Up</a>
  <%end %>
    <i class="medium material-icons deletebttn "></i>
</p>
