<h4><u>Favorite Chords:</u></h4>
<div class="flex-card-container">
  <div class="flex-card-item">

<!-- FLEXBOX CARDS -->
    <% @saved.each do |response| %>
      <div class="flex-test">
        <div class="card grey darken-4">
          <div class="card-content white-text">
            <span class="card-title">
              <h5>Name: <%= response.name %></h5>
              <h5>Fretboard Code: <%= response.code %></h5>
              <div class="chordcolordiv">
                <img src= <%= response.image_url %> >
              </div>
            </span>
          </div>
        <div class="card-action">
          <%= link_to '<i class="small material-icons">delete</i>'.html_safe,  { action: :destroy, id: response.id }, method: :delete%>
        </div>
      </div>
    </div>
  <% end %>


  </div>
</div>

<!-- <% @saved.each do |response| %>
  <p>Name: <%= response.name %></p>
  <p> <img src= <%= response.image_url %> > </p>
  <p>Fretboard Code: <%= response.code %></p>
  <%= link_to 'Delete',  { action: :destroy, id: response.id }, method: :delete%>
  <hr>
<% end %> -->
