<div class="setlistindex container">
  <div class="row">
    <div class="col s6 offset-s3">

      <h4><u>My Songbook:</u></h4>

        <% @saved_songs.each do |response| %>
          <h4>Title: <%= response.title %> </h4>
          <h4>Author(s): <%= response.authors %> </h4>
          <h4>Link: <a href="<%= response.permalink %>">Link to Song</a> </h4>

          <h4>Add to Setlist:</h4>
            <%= form_for (@playlists) do |f| %>
              <%= f.label :playlist %><br>
              <%= f.collection_select :playlist_id, Playlists.all, :id, :playlistname %>
            <% end %>

          <%= link_to 'Delete Song',  { action: :destroy, id: response.id }, method: :delete%>
          <hr>
        <% end %>

    </div>
  </div>
</div>
