<div class="newplaylist container">
  <div class="row">
    <div class="col s6 offset-s3">

      <h4>Create Setlist</h4>

      <%= form_for Playlist.new do |f| %>
        <%= f.label :playlistname %>
        <%= f.text_field :playlistname %>

        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.submit %>
      <% end %>

    </div>
  </div>
</div>
