<div class="setlistindex container">
  <div class="row">
    <div class="col s6 offset-s3">

      <!-- setlist name and description -->
      <h4><u><%= @playlist.playlistname %></u></h4>

      <h4><%= @playlist.description %></h4>
      <hr>

      <!-- sortable setlist songs -->
      <div class="">

        <ul id="sortable">
            <% @playlist_songs.each do |song| %>
                <li class="ui-state-default">
                  <span class="ui-icon ui-icon-arrowthick-2-n-s"> </span>
                  <strong>Title:</strong> <%= song.title %><br>
                  <strong>Author:</strong> <%= song.authors %><br>
                  <%= link_to '<i class="small material-icons">delete</i>'.html_safe, {action: :remove_song_from_playlist, controller: :playlists, song_id: song.id, playlist_id: @playlist.id}, method: :post, remote: true %>
                </li>
            <% end %>
        </ul>

      </div>


      <!-- Old code for Setlist Songs List -->
      <!-- <% @song_playlist_ids = [] %>

      <% @playlist.songs.each do |song| %>
        <% @song_playlist_ids << song.id %>
      <ul>
        <li>
          <%= song.title %>
          <%= song.authors %>
        </li>
      </ul>
      <% end %> -->

    </div>
  </div>
</div>
