<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- materialize -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav>
	    <% if (user_signed_in?) %>
        <%= link_to "SongBook", songs_path %> |
        <%= link_to "Setlists", playlists_path %> |
        <%= link_to "Chords", chords_path %> |
        <%= link_to "Song Search", song_search_path %> |
        <%= link_to "Chord Search", chord_search_path %> |
        <%= link_to "Profile", user_path(current_user.id) %> |
		    <%= link_to 'Sign Out', { :action => 'destroy', :controller => 'devise/sessions'},	method: :delete %>

	    <% else %>
		    <%= link_to 'Sign In', new_user_session_path %>
		    <%= link_to 'Sign Up', new_user_registration_path %>
	    <% end %>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <!-- materialize -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  </body>
</html>
